*.iml
*.log
.externalNativeBuild
.cxx
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/caches
/.idea/modules.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/build
/captures
.DS_Store

